users:
  - name: quizzestutor
    groups: [docker]
    uid: 2000

write_files:
  - path: /etc/quizzestutor.prod.env
    content: |
      ## Datasource
      SPRING_DATASOURCE_USERNAME=${db.username}
      #SPRING_DATASOURCE_PASSWORD=
      SPRING_DATASOURCE_URL=jdbc:postgresql://${db.host}:5432/${db.name}

      ## Resources
      FIGURES_DIR=/data/userassets
      EXPORT_DIR=/data/exports
      LOAD_DIR=/data/imports

      ## Fenix oauth
      #OAUTH_CONSUMER_KEY=
      #OAUTH_CONSUMER_SECRET=
      CALLBACK_URL=${fenix_oauth.callback_url}
      BASE_URL=https://fenix.tecnico.ulisboa.pt

      ## Authentication
      AUTH_COOKIE_DOMAIN=${auth.cookie_domain}
      #AUTH_SECRET=

      CORS_ALLOWED_ORIGINS=${join(",", allowed_origins)}

      ## buckets to mount (used by the wrapper script, not spring)
      USERASSETS_BUCKET=${buckets.userassets}
      EXPORTS_BUCKET=${buckets.exports}
      IMPORTS_BUCKET=${buckets.imports}
  - path: /etc/systemd/system/quizzestutor.service
    content: |
      [Unit]
      Description=Quizzes Tutor backend
      After=gcr-online.target local-fs.target network-online.target sys-fs-fuse-connections.mount cloud-config.service
      Wants=gcr-online.target local-fs.target network-online.target sys-fs-fuse-connections.mount

      [Service]
      User=quizzestutor
      ExecStartPre=/usr/bin/docker-credential-gcr configure-docker
      ExecStart=/usr/bin/docker run --cap-add SYS_ADMIN --device /dev/fuse --security-opt apparmor:unconfined --env-file=/etc/quizzestutor.prod.env --restart=unless-stopped -p 80:8080 --name=quizzestutor-backend ${container_image}
      ExecStop=/usr/bin/docker stop -t 20 quizzestutor-backend
      ExecStopPost=/usr/bin/docker rm quizzestutor-backend

      [Install]
      WantedBy=multi-user.target

runcmd:
  # weird, but the user module seems to ignore my groups
  - usermod -aG docker quizzestutor
  - systemctl daemon-reload
  - systemctl start quizzestutor.service
